body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown-toggle {
  font-weight: bold;
  padding: 0;
  border: none;
  vertical-align: top;
}

.dropdown-toggle.btn:hover {
  background-color: initial;
  color: initial;
}

.dropdown-toggle.btn:focus {
  background-color: initial;
  color: initial;
  box-shadow: initial;
}

.dropdown-toggle::after {
  content: none;
}